# Virtual environment
.venv/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# Datasets
datasets/*
!datasets/.gitkeep

# Outputs
outputs/

# Checkpoints
checkpoints/*
!checkpoints/.gitkeep

# Model weights
*.pt
*.pth
*.ckpt
*.onnx

# Videos
*.mp4
*.mov
*.avi
*.mkv

# Heavy experiment artifacts
experiments/**/*.mp4
experiments/**/*.avi
experiments/**/*.npy
experiments/**/*.npz